<p id="notice"><%= notice %></p>

<p>
  <strong>Cupcake section:</strong>
  <%= @flavour.cupcake_section_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @flavour.name %>
</p>

<%= link_to 'Edit', edit_flavour_path(@flavour) %> |
<%= link_to 'Back', flavours_path %>
