<!DOCTYPE html>
<html>
<head>
  <title>Project3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<!--   <div class="triple_popcorn">
  <%#= image_tag("butterfly-chocolate-redvelvetbase.png") %>
  <%#= image_tag("butterfly-creamcheese-vanillabase.png") %>
  <%#= image_tag("butterfly-chocolate-redvelvetbase.png") %>
  <%#= image_tag("butterfly-creamcheese-vanillabase.png") %>
  <%#= image_tag("butterfly-chocolate-redvelvetbase.png") %>
  <%#= image_tag("butterfly-creamcheese-vanillabase.png") %>
  <%#= image_tag("butterfly-chocolate-redvelvetbase.png") %>
  <%#= image_tag("butterfly-creamcheese-vanillabase.png") %>
  <%#= image_tag("butterfly-chocolate-redvelvetbase.png") %>
  <%#= image_tag("butterfly-creamcheese-vanillabase.png") %>
  <%#= image_tag("butterfly-chocolate-redvelvetbase.png") %>
  <%#= image_tag("butterfly-creamcheese-vanillabase.png") %>
  <%#= image_tag("butterfly-chocolate-redvelvetbase.png") %>
  <%#= image_tag("butterfly-creamcheese-vanillabase.png") %>
  <%#= image_tag("butterfly-chocolate-redvelvetbase.png") %>
  <%#= image_tag("butterfly-creamcheese-vanillabase.png") %>
  </div> -->

  <div id="content">

  <h1>Project 3</h1>



  

  <p>Project 3 is a virtual cupcake customising website.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ipsum dolor voluptatum beatae, voluptatibus unde sapiente excepturi. Cum, doloribus, blanditiis! Dolores sapiente alias ea soluta itaque eius, officia, iste corrupti.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus rerum, laudantium ut in dolorem nam, atque iste fugit asperiores, delectus repudiandae blanditiis perspiciatis distinctio est possimus officiis autem suscipit quae!</p>

  <div id="steps_images">
    <p>Step 1</p>
    <%= image_tag("vanillabase.png") %>
    <p>Step 2</p>
    <%= image_tag("chocolate-vanillabase.png") %>
    <p>Step 2</p>
    <%= image_tag("oreo-chocolate-vanillabase.png") %>
  </div>

  <div id="design_link">
  <%=  link_to "Start designing a cupcake!", new_order_path %>
  </div>


<%= yield %>




</div>


<!-- <aside>
  <%#= image_tag("IMG_7444.JPG") %>
</aside> -->







</body>
</html>