
<% Flavour.base.each do |base| %>
  <% base_image_name = "#{base.image_name}.png" %>
  <%= image_tag base_image_name, id: "image_preview_#{base.id}", class: 'preload' %>

  <% Flavour.frosting.each do |frosting| %>
    <% frosting_image_name = "#{frosting.image_name}-#{base_image_name}" %>
    <%= image_tag frosting_image_name, id: "image_preview_#{frosting.id}_#{base.id}", class: 'preload' %>

    <% Flavour.topping.each do |topping| %>
      <% topping_image_name = "#{topping.image_name}-#{frosting.image_name}-#{base_image_name}" %>
      <%= image_tag topping_image_name, id: "image_preview_#{topping.id}_#{frosting.id}_#{base.id}", class: 'preload' %>
    <% end %>
  <% end %>
<% end %>

<%= form_for @order, :html=> {:id => 'msform'} do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <ul id="progressbar">
      <li class="active">Cake Base</li>
      <li>Frosting</li>
      <li>Topping</li>
    </ul>
    <!-- fieldsets -->
    <%= f.fields_for :customisations do |i| %>
      <fieldset>
        <h2 class="fs-title">Choose a cake <%=i.object.section.try :name %></h2>
        <br>

        <!-- <h3 class="fs-subtitle">Step 1 of 3</h3> -->
        
        <%#= i.object.section.try :name %>
        <%#= i.label :flavour_id %>
        <div class="collection_select">
        <%= i.hidden_field :section_id %>  
        <%= i.collection_select :flavour_id, i.object.section.flavours, :id, :name, {prompt: true}, { id: "#{i.object.section.try(:name).downcase}_flavour_id" } %>
        </div>

        <div class="image-container">
          <%= image_tag '', class: 'imagePreview' %>
        </div>

        <% if i.object.section.name != "Base" %>
          <input type="button" name="previous" class="previous action-button" value="Previous" />
          <% end %>
        <% if i.object.section.name == "Topping" %>
          <p><%= f.submit "View Cupcake" %></p>
        <% end %>
        <% if i.object.section.name != "Topping" %>
          <input type="button" name="next" class="next action-button" value="Next" />
        <% end %>
      </fieldset>
    <% end %>
  </form>



 
<% end %>

