<%= form_for@order, :html=> {:id => 'order_form'} do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>


  <h3>Order Your Cupcake Design</h3>
  <br>
  <%#= f.select(:quantity, collection: 0..50, prompt: "Select quantity", label: false) %>
  <%= f.label "Please select quantity (minimum 4)" %>
  <br>
  <%= f.select :quantity, (4..20) %>
  <br>
  <br>
  <%= f.label :name %>
  <br>
  <%= text_field_tag(:name) %>
  <br>
  <%= f.label :address_line_1 %>
  <br>
  <%= text_field_tag(:address_line_1) %>
  <br>
  <%= f.label :address_line_2 %>
  <br>
  <%= text_field_tag(:address_line_2) %>
  <br>
  <%= f.label :city %>
  <br>
  <%= text_field_tag(:city) %>
  <br>
  <%= f.label :post_code %>
  <br>
  <%= text_field_tag(:post_code) %>
  <br>

<br>
<br>

  <a id="continue_button">Continue</a>








  </form>

<% end %>