<nav class='cf'>

  <a class="nav_links" href="/">Home</a>
  <div class="split_table"></div>
  <a class="nav_links" href="/orders/new">Design</a>
  <div class="split_table"></div>
  <a class="nav_links" href="/about">About</a>
  <div class="split_table"></div>
  <a class="nav_links" href="/contact">Contact</a>
  <div class="split_table"></div>
  <a class="nav_links" href="/orders">Cupcakes</a>
  <div class="split_table"></div>
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: :nav_links%>
  <p id="logo">Cupcake Me</p>
</nav>

<div id="order_index">
<h1>Your Cupcake Creations</h1>

<table>
  <thead>
    <tr>
    
      <th>Cupcake</th>
      <th>Quantity Ordered</th>
      <th>Status</th>
      
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= image_tag order.image_name, id: :image_cupcake %></td>
        <% if order.placed?  %>
        <td><%= order.quantity %></td>
        <% else %>
        <td>N/A</td>
        <% end %>

        
        <% if order.placed?  %>
        <td>Purchased</td>
        <% else %>
        <td>Not Ordered</td>
        <% end %>

        <td><%= link_to 'View', order %></td>

        <!-- <td><%#= link_to 'Edit', edit_order_path(order) %></td> -->
        
        <td><%= link_to 'Remove', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>



<div id="new_cupcake"><%= link_to 'New Cupcake', new_order_path %></div>

