<div id="order_index">
<h1>Your Cupcake Creations</h1>

<table>
  <thead>
    <tr>
    
      <th>Cupcake</th>
      <th>Quantity</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= image_tag order.image_name, id: :image_cupcake %></td>
        <td><%= order.quantity %></td>

        <td><%= link_to 'Show', order %></td>

        <!-- <td><%#= link_to 'Edit', edit_order_path(order) %></td> -->
        
        <td><%= link_to 'Remove', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cupcake', new_order_path %>
</div>
