<div class="content_order">
<h2>Your Cupcake</h2>

<ul class="cupcake_show">
  <li>
    Base:
    <%= @order.customisation_display(:base) %>
  </li>
  <li>
    Frosting:
    <%= @order.customisation_display(:frosting) %>
  </li>
  <li>
    Topping:
    <%= @order.customisation_display(:topping) %>
  </li>
</ul>



<%= image_tag @order.image_name, id: :image_cupcake %>


<a id="order_button">Order!</a>

</div>











  <div id="hidden_form">
  <%= render 'order_form'%>
  </div>
  

