<p id="notice"><%= notice %></p>

<p>
  <strong>Base:</strong>
  <%= @order.base %>
</p>

<p>
  <strong>Frosting:</strong>
  <%= @order.frosting %>
</p>

<p>
  <strong>Topping:</strong>
  <%= @order.topping %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>