<nav class='cf'>

  <a class="nav_links" href="/">Home</a>
  <div class="split_table"></div>
  <a class="nav_links" href="/orders/new">Design</a>
  <div class="split_table"></div>
  <a class="nav_links" href="/about">About</a>
  <div class="split_table"></div>
  <a class="nav_links" href="/contact">Contact</a>
  <div class="split_table"></div>
  <a class="nav_links" href="/orders">Cupcakes</a>
  <div class="split_table"></div>
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: :nav_links%>
  <p id="logo">Cupcake Me</p>
</nav>
<div class="content_order">
<div class="row-1 ">
  <div class="col-50">
    <h2>Your Cupcake</h2>
    <div class="cupcake_show_text">
      <ul class="cupcake_show">
        <li>
          Base:
          <%= @order.customisation_display(:base) %>
        </li>
        <li>
          Frosting:
          <%= @order.customisation_display(:frosting) %>
        </li>
        <li>
          Topping:
          <%= @order.customisation_display(:topping) %>
        </li>
        <% if @order.placed? %>
        <li>
          Quantity:
          <%= @order.quantity %>
        </li>
        <li>
          Name:
          <%= @order.name %>
        </li>
        <li>
          Address:
          <%= @order.address %>
        </li>
      </ul>
      <% end %>
      <br>
      <br>
      
      <% unless @order.placed? %>
      <p>Like the way it looks?</p>
      <a class="order_button">Order!</a>
      <% end %>
    </div>
  </div>
  <div class="col-50">
    <%= image_tag @order.image_name, id: :image_cupcake %>
  </div>
</div>


</div>



<div id="hidden_form">
  <%= render 'order_form'%>
</div>