<div class="content_order">
<h2>Your Cupcake</h2>

<div class="cupcake_show_text">
<ul class="cupcake_show">
  <li>
    Base:
    <%= @order.customisation_display(:base) %>
  </li>
  <li>
    Frosting:
    <%= @order.customisation_display(:frosting) %>
  </li>
  <li>
    Topping:
    <%= @order.customisation_display(:topping) %>
  </li>
  <li>
    Quantity:
    <%= @order.quantity %>
  </li>


  <% if @order.placed? %>
    <li>
      Name:
      <%= @order.name %>
    </li>
    <li>
      Address:
      <%= @order.address %>
    </li>

    <br>
    <br>
    <br>
    <br>
    <br>

    <a class="order_back" href="/">Home</a>
    <a class="order_back" href="/orders">Your Orders</a>

  <% end %>

</ul>
</div>



<%= image_tag @order.image_name, id: :image_cupcake %>

<% unless @order.placed? %>
  <a class="order_button">Order!</a>
<% end %>
</div>











  <div id="hidden_form">
  <%= render 'order_form'%>
  </div>
  

