<h1>Listing cupcake_sections</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cupcake_sections.each do |cupcake_section| %>
      <tr>
        <td><%= cupcake_section.name %></td>
        <td><%= link_to 'Show', cupcake_section %></td>
        <td><%= link_to 'Edit', edit_cupcake_section_path(cupcake_section) %></td>
        <td><%= link_to 'Destroy', cupcake_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cupcake section', new_cupcake_section_path %>
