<%= form_for(@customisation) do |f| %>
  <% if @customisation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customisation.errors.count, "error") %> prohibited this customisation from being saved:</h2>

      <ul>
      <% @customisation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cupcake_section_id %><br>
    <%= f.number_field :cupcake_section_id %>
  </div>
  <div class="field">
    <%= f.label :flavour_id %><br>
    <%= f.number_field :flavour_id %>
  </div>
  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.number_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
