<!DOCTYPE html>
<html>
<head>
  <title>Project3</title>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One|Satisfy' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 
  <%= csrf_meta_tags %>
</head>
<body>

<!--   <nav class='cf'>

    <h1 id="main_title"><a href="/">PROJECT 3</a></h1>

    <ul>
      <li>About</li>
      <li>Contact</li>
      <li>Orders</li>
    </ul>
    <div class='login'>
      <% # if user_signed_in? %>
      <%#= current_user.email %>
      <%#= link_to "Log out", destroy_user_session_path, method: :delete %>
      <%# else %>
        <%#= link_to "Sign In", new_user_session_path %>
        <%#= link_to "Register", new_user_registration_path %>
      <%# end %>
    </div>

   
    
  </nav> -->

  


  <!-- <img src="http://allaboutuarts.ca/wp-content/uploads/2012/07/placeholder_2.jpg" alt="image placeholder"> -->

 

  







  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
